<div class="row row-cols-12">
    <div class="col">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <p style="display:none">@ViewData["Description"]</p>
    </div>
</div>
<div class="row row-cols-12">
    <div class="col">
    </div>
</div>

