@using Microsoft.AspNetCore.Html
@if (User.IsInRole("admin") || User.IsInRole("manager"))
{
    var onEdit = HttpContextAccessor?.HttpContext?.Request.Query["editing"].FirstOrDefault() == null ? true : false;
    var editingTrigger = onEdit ? "text-success" : "text-danger";
    var href = onEdit ? "?editing=true" : Context.Request.Path.Value;
    var tooltip = onEdit ? "data-bs-original-title=\"Включить режим редактирования\" data-toggle=\"tooltip\"" : "data-bs-original-title=\"Выключить режим редактирования\" data-toggle=\"tooltip\"";
    <div class="admin-panel">
        <div id="new_page"></div>
        <div id="new_page_popup"></div>
        <a class="hovered" href="@Url.ActionLink("ThemeBuilder","Admin")" data-bs-original-title="Редактор тем" data-toggle="tooltip">
            <svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M204.3 5C104.9 24.4 24.8 104.3 5.2 203.4c-37 187 131.7 326.4 258.8 306.7 41.2-6.4 61.4-54.6 42.5-91.7-23.1-45.4 9.9-98.4 60.9-98.4h79.7c35.8 0 64.8-29.6 64.9-65.3C511.5 97.1 368.1-26.9 204.3 5zM96 320c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm32-128c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128-64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128 64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z" /></svg>
        </a>
        @if (ViewBag.Page != null)
        {
            <a class="text-dark" href="@href" @(new HtmlString(@tooltip))>
                <i class="fa fa-gears fa-2x text-center @editingTrigger" aria-hidden="true"></i>
            </a>
        }
    </div>
}
<script>
    $(() => {
        var newPageForm;
        const newPagePopup = $('#new_page_popup').dxPopup({
            contentTemplate: `<form method="post" action="/Admin/CreatePage" id="new_page_form"><div id="new_page_form_inner"></div></form>`,
            showCloseButton: true,
            container: '.dx-viewport',
            maxWidth: '400px',
            title: 'Новый раздел',
            height: 'auto',
            onContentReady() {
                console.log('onShown');
                newPageForm = $('#new_page_form_inner').dxForm({
                    labelMode: 'floating',
                    readOnly: false,
                    showColonAfterLabel: true,
                    labelLocation: 'left',
                    colCount: 2,
                    items: [
                        {
                            dataField: 'Title',
                            editorType: 'dxTextBox',
                            editorOptions: {
                            },
                            validationRules: [{
                                type: 'required',
                                message: 'Обязательное поле',
                            }],
                        },
                        {
                            dataField: 'Name',
                            editorType: 'dxTextBox',
                            validationRules: [{
                                type: 'required',
                                message: 'Обязательное поле',
                            }],
                        },
                        {
                            dataField: 'Description',
                            editorType: 'dxTextArea',
                            colSpan: 2,
                            editorOptions: {
                                height: '150px'
                            }
                        },
                        {
                            dataField: 'KeyWords',
                            editorType: 'dxTextArea',
                            colSpan: 2,
                            editorOptions: {
                                height: '150px'
                            }

                        },
                        {
                            itemType: 'button',
                            horizontalAlignment: 'center',
                            buttonOptions: {
                                width: "100%",
                                text: 'Закрыть',
                                type: 'normal',
                                onClick() {
                                    newPagePopup.hide();
                                }
                            }
                        },
                        {
                            itemType: 'button',
                            cssClass: 'w-100',
                            horizontalAlignment: 'center',
                            buttonOptions: {
                                text: 'Создать',
                                type: 'success',
                                useSubmitBehavior: true,
                                width: "100%",
                            }
                        },
                    ]
                }).dxForm('instance');

            }
        }).dxPopup('instance');

        const newPageButton = $('#new_page').dxButton({
            icon: 'add',
            hint: 'Добавить раздел',
            stylingMode: 'text',
            onClick(data) {
                newPagePopup.show();
                console.log(data);
            }
        }).dxButton('instance');
    });
</script>
